
<!--
echo "# max-mean-stack" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/gilsan/max-mean-stack.git
git push -u origin master


echo "# ngrx-store" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/gilsan/ngrx-store.git

git push -u origin master
 -- update
git remote add origin https://github.com/gilsan/ngrx-store.git
git push -u origin master
-->
<app-header></app-header>
<main>
    <app-post-create></app-post-create>
    <app-post-list></app-post-list>
</main>



