<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        placeholder="공지제목"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">제목을 입력해 주세요.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        required
        placeholder="공지내용"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">내용을 적어 주세요.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"> 공지 저장</button>
  </form>
</mat-card>
